:global{
  .btn-primary{
    background-color:$color-primary;
    border: none;
    border-color: $color-primary;
    margin: 20px 10px;
    padding: 23px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    // , &:focus, &:active, &:not(:disabled):not(.disabled):active

    &:hover {
      opacity: 0.4;
    }
  }
}

.btn{

}

.sm{

}
